@tailwind base;
@tailwind components;
@tailwind utilities;


.main-forms {
  margin-top: 2rem;
}
.content {
  flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Optional: Add a background color */
  
}